.mainBox{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 10%;
    gap: 1.5rem;
}
.subBox{
    width: 100%;
    height: 100%;
    background-color: white;
    margin-bottom: 20%;
    border-radius: 1rem;
    cursor: pointer;
}
.myModal{
    border: 1px solid black;
    padding: 0.5rem;
    color: white;
}
@media (max-width: 850px) {
    .mainBox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    }
  }